* {
    --primary: #639FFD;
    --secondary: #78AAFD;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif, Helvetica, Arial;
}

h1 {
    margin: 3vw;
}

ul {
    margin: 3vw;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

li {
    position: static;

    display: flex;
    margin-top: 15px;
}

li > button {
    margin-left: 10px;

    
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 15px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

  .marg {
      margin-left: 500px;
  }