* {
    --primary: #639FFD;
    --secondary: #78AAFD;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif, Helvetica, Arial;
}

h1 {
    margin: 3vw;
}

ul {
    margin-left: 3vw;
    margin-top: 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

li {
    position: static;

    display: flex;
    margin-top: 40px;
}

#prompt-button {
    margin-left: 3vw;
    margin-top: 40px;
    font-size: 25px;
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 15px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

dialog {
    margin: auto;
    width: 50%;
}

#dialog-head {
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    border: none;
    padding: 40px;
    
}

fieldset {
    border: none;
}

li > button {
}

.editCss {
    position: absolute;
    right: 0;
    margin-right: 50vw;
}

.deleteCss {
    position: absolute;
    right: 0;
    margin-right: 45vw;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 15px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

  @media only screen and (max-width: 1100px) {
    .editCss {
        position: absolute;
        right: 0;
        margin-right: 50vw;
    }
    
    .deleteCss {
        position: absolute;
        right: 0;
        margin-right: 44vw;
    }
  }

@media only screen and (max-width: 800px) {
    .editCss {
        position: absolute;
        right: 0;
        margin-right: 50vw;
    }
    
    .deleteCss {
        position: absolute;
        right: 0;
        margin-right: 40vw;
    }
}

@media only screen and (max-width: 500px) {
    .editCss {
        position: absolute;
        right: 0;
        margin-right: 50vw;
    }
    
    .deleteCss {
        position: absolute;
        right: 0;
        margin-right: 35vw;
    }
}

@media only screen and (max-width: 350px) {
    .editCss {
        position: absolute;
        right: 0;
        margin-right: 50vw;
    }
    
    .deleteCss {
        position: absolute;
        right: 0;
        margin-right: 30vw;
    }
}