* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif, Helvetica, Arial;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #639FFD;
    position: sticky;
    top: 0;
    font-weight: 200;
}

.navbar #title {
    color: white;
    margin: 20px 0px;
    font-size: 1.1rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-size: 1.1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: #78AAFD;
    box-shadow: 0 0 10px #78AAFD;
}

h1 {
    display: none;
}

#about {
    display: flex;
    flex-direction: column;
}

#about_me {
    display: none;
}

#me {
    display: flex;
    font-weight: 200;
    font-size: 25px;
}

#intro {
    flex: 2;
    margin: 10vw;
}

#image {
    flex: 1;
}

#figcaption {
    display: none;
}